/*Mobile Style Sheet*/
@media only screen and (max-width: 767px) {
        .basic-subcontainer p {
            font-size: 1.5vh;
        }

        .basic-subcontainer h1 {
            font-size: 3vh;
        }

        .fa-github {
            font-size: 6vw;
        }

        #about, #projects, #interests{
            font-size: 2vh;
        }

        #slides-button-left, #slides-button-right {
            font-size: 3vh;
            width: 7%;
            max-height: 7%;
        }

        #slides-button-left {
            margin-left: 1%;
        }

        #slides-button-right {
            margin-right: 1%;
        }
}