/*Main Style Sheet*/

.section-divider {
    border: none;
    border-top: 2vh dotted var(--header-text-color);

    width: 90%;
}

.equation {
    color: var(--accent-secondary);
    width: 100%;

    overflow: hidden;
}

.equation > .MathJax {
    height: 100% !important;
    min-height: 100% !important;

    overflow-x: auto !important;
    overflow-y: hidden !important;

    /* padding: 5% !important; */
    /* This adds padding to inline highlighted math syntax. If height of MathJax containers becomes an issue, 
    separate equation into two classes where one is called inline-equation. */
}

.u-link {
    color: var(--link-color);
    text-decoration: underline;
}

.u-link:hover {
    color: var(--accent-primary);
}

.flex-divider-horizontal {
    height: 0;
    flex-basis: 100%;
}

.navbar-button {
    font-family: "Noto Sans Bold";

    color: var(--header-text-color);
    height: 9vh;

    position: relative;
    overflow: hidden;
    cursor: pointer;

    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;

}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
    text-align: center;
}

.fa-github {
    font-size: 5vw;
    color: var(--link-color);
    filter: drop-shadow(-0.1vw 0.1vw 0.1vw black);
}

.fa-area-chart {
    font-size: 1em;
    max-width: 1em; 
    color: var(--link-color);
}

.fa-github:hover, .fa-area-chart:hover {
    color: var(--accent-primary);
    cursor: pointer;
}

.main-content-elements {
    color: var(--header-text-color);
}

.basic-content-elements {
    position: relative;
    font-family: 'Noto Sans Regular';

    width: 90%;
    min-height: 100%;

    margin: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.basic-content-elements h1 {
    font-family: "Noto Sans Bold";
    font-size: 2em;
}

.basic-content-elements p {
    font-size: 1em;
    color: var(--paragraph-text-color);

    overflow-wrap: break-word;

    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;

    padding: 0 5%;
}

.basic-subcontainer {
    position: relative;

    width: 100%;

    padding: 5%;

    display: inline-block;
}

#top-page-button {
    color: var(--accent-secondary);
    font-size: 3vw;
    position: fixed;

    width: 5vw;
    height: 5vw;
    right: 0;
    bottom: 5vw;
    z-index: 999;
    filter: drop-shadow(0 0.15vw 0.05vw black);

    display: none;
    opacity: 0;
    align-items: center;
    justify-content: center;
}

#top-page-button:hover {
    color: var(--accent-primary);
    cursor: pointer;
}

#navbar {
    background-color:var(--navbar-bg-color);
    position: fixed;
    
    top: 0;
    left: 5vw;
    height: 10vh;
    width: 90%;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: right;

    z-index: 5;

    box-shadow: 0 0.25vw 0.5vw black;
}

#navbar-buttons-container { 
    position: relative;

    width: 30%;
    height: 10vh;
    z-index: 3;

    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#navbar-buttons-container h1 {
    font-size: max(2.5vw, 70%);
}

#resources-wrapper {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: var(--accent-secondary);
    margin-left: 2%
}

#contact-container-wrapper {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    margin: 0 0 0 1%;
}

#phone, #email {
    display: flex;
    font-size: 1vw; 
    margin: 0 0 0 2.5%;
}

#about, #projects, #interests {
    color: var(--header-text-color);
    box-shadow: none;
    box-shadow: 0 -0.5vh 0 var(--link-color) inset;

    padding-bottom: 1vh;
}

#about:hover, #projects:hover, #interests:hover {
    color: var(--accent-primary);
}

#about-content, #projects-content, #interests-content {
    overflow: hidden;
    width: 100%;
    height: 100%;
    flex: 1 1 auto;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-content-box {
    background-color: var(--main-content-bg-color);

    position: relative;
    padding-top: 10vh;
    width: 100%;
    height: 100%;
    flex: 2 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#loading {
    background-color: var(--accent-primary);
    color: var(--header-text-color);
    font-size: 5em;

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
}

#hello-grid {
    position: relative;

    width: 100%;
    margin: 5%;

    display: inline-grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
}

#hello-grid > h1 {
    grid-area: 1/1/span 1/span 1;
}

#hello-grid > p {
    grid-area: 2/1/span 1/span 1;
}

#hello-grid > img {
    position: relative;

    width: 60%;
    
    margin: 5vh auto;
    border: max(0.25vw, 0.25vh) solid var(--paragraph-text-color);
    border-radius: 16px/16px;

    grid-area: 1/2/span 2/span 1;
}

#music-grid-container {
    position: relative;
    
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#music-grid-container > p {
    flex: 2;
}

#music-grid {
    position: relative;

    flex: 4;

    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-auto-rows: minmax(5vh, auto);
    gap: max(5vw, 5vh);

    justify-content: center;
}

#music-grid span {
    position: relative;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#music-grid iframe {
    position: relative;

    aspect-ratio: 1/1;
    width: 100%;

    border: max(0.25vw, 0.25vh) solid var(--paragraph-text-color);
    border-radius: 16px/16px;
}

#music-grid p {
    font-size: max(1vw, 1vh);

    padding: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#food-grid {
    position: relative;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#food-cards-titles {
    position: relative;

    width: 70%;

    display: flex;
    flex-direction: row;
}

#food-cards-titles > p {
    position: relative;
    cursor: pointer;

    padding: 2%;
    margin: 0 2% 0 0;

    border: max(0.1vw, 0.1vh) solid var(--header-text-color);
    border-bottom: 0;
    box-sizing: border-box;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#food-cards-content {
    position: relative;
    background-size: cover;
    background-position: 40%;

    width: 70%;

    border: max(0.1vw, 0.1vh) solid var(--header-text-color);
    border-bottom: 0;
    border-right: 0;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    box-sizing: border-box;
    border-style: outset;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#food-cards-content > p {
    position: relative;
    background-color: var(--food-card-p-bg-color);

    width: 50%;
    margin: 5%;
    padding: 5%;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-reviews-panels {
    position: relative;

    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#game-reviews-panels video {
    position: relative;
    width: 80%;
}

#game-reviews-panels h2 {
    padding: 5%;
}

#game-reviews-panels > div {
    flex: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-reviews-panels > div > p {
    margin: 0;
    padding: 0;
    width: 80%;
}

#game-reviews-panels > span {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-reviews-panels > span > p {
    position: relative;
    color: var(--header-text-color);
    font-size: max(5vw, 5vh);
    cursor: pointer;
    
    margin: 0;
    padding: 0;

    display: inline-block;
}

#game-reviews-panels > span > p:hover {
    color: var(--accent-primary);
}